# Database (Neon Postgres)
DATABASE_URL=

# Auth (next-auth v5) — openssl rand -base64 32
AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=PROJECT_NAME

# GitHub OAuth (opsiyonel)
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
